.project-grid { 
    display: grid;
    grid-template-columns: 50% 50%; /* 2 cards side-by-side on desktop */
    @include media-query($on-palm) { /* Single cards on mobile */
        grid-template-columns: 100%;
    }
    grid-gap: 20px;
    align-items: stretch;

    article {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);

        img {
            max-width: 100%;
        }
    }
}

.project-text {
    padding: 0 20px 20px;
    h1 {
        font-size: $h2;
        font-weight: bold;
        color: $grey-color-dark;
    }
    button {
        background: $grey-color;
        border: 0;
        color: white;
        padding: 10px;
        width: 100%;

        &:hover {
            background: $grey-color-dark;
            color: white;
            text-decoration: none;
        }
    }
}
